<template>
<el-main>
  <div class="create">
    <el-tabs v-model="activeName">
    <el-form label-width="100px">
      <el-form-item v-if="!isInputCreticalForm" label="Статус">
        <span v-if="status === 'active'" style="color: #7db164">актив</span>
        <span v-if="status === 'lead'" style="color: #3a8ee6">заявка</span>
        <span v-if="status === 'onmap'" style="color: #787979">на карте</span>
        <span v-if="status === null" style="color: #e65252">выкл</span>
      </el-form-item>
      <el-form-item v-if="isInputCreticalForm" label="Статус">
        <el-select v-model="status"
                    placeholder="Выберете статус">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
    </el-form>
      <el-tab-pane label="Информация" name="first">
        <el-form ref="form" label-width="100px">
          <el-row>
            <el-col :span="12" style="padding-right:50px">

              <el-form-item label="Логотип">
                <UploadAvatarCafe />
              </el-form-item>

              <el-form-item label="Название">
                <el-input v-model="name" placeholder="Введите название"></el-input>
              </el-form-item>

              <el-form-item label="Кухни">
                <el-select v-model="kitchens" multiple placeholder="Выберете ухни">
                  <el-option
                    v-for="item in formkitchens"
                    :key="item.id"
                    :label="item.name"
                    :value="item.name">
                  </el-option>
                </el-select>
              </el-form-item>

            </el-col>
            <el-col :span="12">

              <el-form-item label="Адрес">
                <el-input v-model="address" placeholder="Введите адрес"></el-input>
              </el-form-item>

              <el-form-item label="Координаты">
                <div style="display: flex">
                  <el-input v-model="geoLatitude"
                            style="padding-right: 10px"
                            placeholder="Введите широтy">
                  </el-input>
                  <el-input v-model="geoLongitude" 
                            placeholder="Введите долготy">
                  </el-input>
                </div>
              </el-form-item>

              <el-form-item label="Телефон">
                <el-input v-model="phone"  
                          placeholder="Введите номер телефона"></el-input>
              </el-form-item>

              <el-form-item label="Веб-сайт">
                <el-input v-model="site" placeholder="Введите веб-сайт"></el-input>
              </el-form-item>

            </el-col>
          </el-row>
        </el-form>
      </el-tab-pane>
      <el-tab-pane label="Завтрак" name="third">
        <CreateBreakfast @breakStartTime='onBreakStartTime'
                         @breakEndTime='onBreakEndTime'
                         @breakMinCost='onBreakMinCost'
                         @breakMaxCost='onBreakMaxCost'
                         @menuBreakfast='onMenuBreakfast' />
      </el-tab-pane>
      <el-tab-pane label="Обед" name="second">
        <CreateLunch @lunchStartTime='onLunchStartTime'
                     @lunchEndTime='onLunchEndTime'
                     @lunchMinCost='onLunchMinCost'
                     @lunchMaxCost='onLunchMaxCost'
                     @menuLunch='onMenuLunch' />
      </el-tab-pane>
      <!-- <el-tab-pane label="Ужин" name="fourth">
        <CreateDinner @dinnerStartTime='onDinnerStartTime'
                      @dinnerEndTime='onDinnerEndTime'
                      @dinnerMinCost='onDinnerMinCost'
                      @dinnerMaxCost='onDinnerMaxCost'
                      @menuDinner='onMenuDinner' />
      </el-tab-pane> -->
      <!-- <el-tab-pane label="Плюшки" disabled name="fifth">
        <CreateBuns />
      </el-tab-pane> -->
    </el-tabs>
    <div style="display:flex; padding-top: 20px;align-items: center;justify-content: center;">
      <el-button :loading="isLoadingSaveCafe" @click="saveCafe">Сохранить</el-button>
    </div>
  </div>
</el-main>
</template>

<script>
// import UploadAvatarCafe from '../../components/update/UploadAvatarCafe.vue'
import CreateInfo from '../../components/create/CreateInfo.vue'
import CreateLunch from '../../components/create/CreateLunch.vue'
import CreateBreakfast from '../../components/create/CreateBreakfast.vue'
import CreateDinner from '../../components/create/CreateDinner.vue'
import CreateBuns from '../../components/create/CreateBuns.vue'
import UploadAvatarCafe from '../../components/upload/UploadAvatarCafe.vue'
export default {
  name: 'Create',
  data() {
    return {
      activeName: 'first',
      isLoadingSaveCafe: false,

      status: 'null',
      // logo: null,
      name: null,
      kitchens: null,
      address: null,
      geoLatitude: null,
      geoLongitude: null,
      geo: {
        latitude: null,
        longitude: null
      },
      phone: null,
      site: null,
      breaks: null,
      breaksStartTime: null,
      breaksEndTime: null,
      breaksMinCost: null,
      breaksMaxCost: null,
      breaksMenu: [],

      lunches: null,
      lunchesStartTime: null,
      lunchesEndTime: null,
      lunchesMinCost: null,
      lunchesMaxCost: null,
      lunchesMenu: [],
      defaultOptions: [{
        value: 'null',
        label: 'выкл'
      }],

      options: [{
        value: 'onmap',
        label: 'на карте'
      }, {
        value: null,
        label: 'выкл'
      }],
      isInputCreticalForm: false,
      isInputCreticalFormBreaks: false,
      isInputCreticalFormLunches: false,
      // isInputCreticalFormDinners: false
    }
  },
  computed: {
    formkitchens() {
      return this.$store.state.kitchens.kitchens;
    },
    logo() {
      return this.$store.state.upload.urlImageAvatar
    }
  },
  created() {
    this.$store.dispatch('kitchens/retrieveKitchens')
  },
  watch: {
    logo() {
      this.lisenData()
    },
    name(value) {
      if (!value) {
        this.name = null
      } else {
        this.name = value
      }
      this.lisenData()
    },
    kitchens(value) {
      if (value?.length === 0) {
        this.kitchens = null
      } else {
        this.kitchens = value
      }
      this.lisenData()
    },
    address(value) {
      if (!value) {
        this.address = null
      } else {
        this.address = value
      }
      this.lisenData()
    },
    geoLatitude(value) {
      if (!value) {
        this.geoLatitude = null
        this.geo.latitude = null
      } else {
        this.geoLatitude = value
        this.geo.latitude = value
      }
      this.lisenData()
    },
    geoLongitude(value) {
      if (!value) {
        this.geoLongitude = null
        this.geo.longitude = null
      } else {
        this.geoLongitude = value
        this.geo.longitude = value
      }
      this.lisenData()
    },
    phone(value) {
      if (!value) {
        this.phone = null
      } else {
        this.phone = value
      }
    },
    site(value) {
      if (!value) {
        this.site = null
      } else {
        this.site = value
      }
    },
    logo() {
      this.lisenData()
    }
  },
  methods: {
    lisenData() {
      const { name, kitchens, address, geo } = this
      const logo = this.$store.state.upload.urlImageAvatar

      if (logo !== null && name !== null && kitchens !== null && address !== null && geo.latitude !== null && geo.longitude) {

        if (this.breaksStartTime !== null && this.breaksEndTime !== null && this.breaksMinCost !== null) {
          // console.log('все поля BREAKS заполнены');
          this.isInputCreticalFormBreaks = true
          if (this.isInputCreticalFormBreaks === true || this.isInputCreticalFormLunches === true) {
            // console.log('Разрешаем');
            this.isInputCreticalForm = true
          } else {
            // console.log('Запрещаем');
            this.isInputCreticalForm = false
            this.status = null
          }
        } else {
          // console.log('НЕ все BREAKS заполнены');
          this.isInputCreticalFormBreaks = false
          if (this.isInputCreticalFormBreaks === true || this.isInputCreticalFormLunches === true) {
            // console.log('Разрешаем');
            this.isInputCreticalForm = true
          } else {
            // console.log('Запрещаем');
            this.isInputCreticalForm = false
            this.status = null
          }
        }

        if (this.lunchesStartTime !== null && this.lunchesEndTime !== null && this.lunchesMinCost !== null) {
          // console.log('все поля LUNCHES заполнены');
          this.isInputCreticalFormLunches = true
          if (this.isInputCreticalFormBreaks === true || this.isInputCreticalFormLunches === true) {
            // console.log('Разрешаем');
            this.isInputCreticalForm = true
          } else {
            // console.log('Запрещаем');
            this.isInputCreticalForm = false
            this.status = null
          }
        } else {
          // console.log('НЕ все LUNCHES заполнены');
          this.isInputCreticalFormLunches = false
          if (this.isInputCreticalFormBreaks === true || this.isInputCreticalFormLunches === true) {
            // console.log('Разрешаем');
            this.isInputCreticalForm = true
          } else {
            // console.log('Запрещаем');
            this.isInputCreticalForm = false
            this.status = null
          }
        }
      } else {
        this.isInputCreticalForm = false
        this.status = null
      }

    },
    // CreateBreakfast
    onBreakStartTime(value) {
      this.breaksStartTime = value
      this.lisenData()
    },
    onBreakEndTime(value) {
      this.breaksEndTime = value
      this.lisenData()
    },
    onBreakMinCost(value) {
      if (value === null) {
      this.breaksMinCost = null
      } else {
      this.breaksMinCost = Number(value)
      }
      this.lisenData()
    },
    onBreakMaxCost(value) {
      if (value === null) {
      this.breaksMaxCost = null
      } else {
      this.breaksMaxCost = Number(value)
      }
    },
    onMenuBreakfast(value) {
      this.breaksMenu = value
    },
    // CreateLunch
    onLunchStartTime(value) {
      this.lunchesStartTime = value
      this.lisenData()
    },
    onLunchEndTime(value) {
      this.lunchesEndTime = value
      this.lisenData()
    },
    onLunchMinCost(value) {
      if (value === null) {
        this.lunchesMinCost = null
      } else {
        this.lunchesMinCost = Number(value)
      }
      this.lisenData()
    },
    onLunchMaxCost(value) {
      if (value === null) {
        this.lunchesMaxCost = null
      } else {
        this.lunchesMaxCost = Number(value)
      }
    },
    onMenuLunch(value) {
      this.lunchesMenu = value
    },

    checkingFieldsMenu() {
      if (this.breaksStartTime === null && this.breaksEndTime === null && this.breaksMinCost === null) {
        this.breaks = null
      } else {
        const data = {
          startTime: this.breaksStartTime,
          endTime: this.breaksEndTime,
          minCost: Number(this.breaksMinCost),
          maxCost: Number(this.breaksMaxCost),
          menu: this.breaksMenu
        }
        this.breaks = data
      }
      if (this.lunchesStartTime === null && this.lunchesEndTime === null && this.lunchesMinCost === null) {
        this.lunches = null
      } else {
        const data = {
          startTime: this.lunchesStartTime,
          endTime: this.lunchesEndTime,
          minCost: Number(this.lunchesMinCost),
          maxCost: Number(this.lunchesMaxCost),
          menu: this.lunchesMenu
        }
        this.lunches = data
      }
    },
    сheckingМariablesForm() {
      if(this.name?.trim() === '') {
        this.name = null
      }
      if (this.name !== null) {
        this.name = this.name.trim()
      }
      if (this.address?.trim() === '') {
        this.address = null
      }
      if (this.address !== null) {
        this.address = this.address.trim()
      }
      if(this.phone?.trim() === '') {
        this.phone = null
      }
      if (this.phone !== null) {
        this.phone = this.phone.trim()
      }
      if(this.site?.trim() === '') {
        this.site = null
      }
      if (this.site !== null) {
        this.site = this.site.trim()
      }
      if(this.geo.longitude?.trim() === '') {
        this.geo.longitude = null
      }
      if (this.geo.longitude !== null) {
        const longitude = this.geo.longitude.replace(/[^\d.]/ig, '')
        // console.log('longitude', longitude);
        if (longitude === '') {
          // console.log('Empty longitude');
          this.geo.longitude = null
        } else {
          this.geo.longitude = parseFloat(longitude.trim())
        }
      }
      if(this.geo.latitude?.trim() === '') {
        this.geo.latitude = null
      }
      if (this.geo.latitude !== null) {
        const latitude = this.geo.latitude.replace(/[^\d.]/ig, '')
        // console.log('latitude', latitude);
        if (latitude === '') {
          // console.log('Empty latitude');
          this.geo.latitude = null
        } else {
          this.geo.latitude = parseFloat(latitude.trim())
        }
      }
    },
    saveCafe() {
      this.isLoadingSaveCafe = true
      this.checkingFieldsMenu()
      this.сheckingМariablesForm()
      const cafe = {
        status: this.status,
        logo: this.$store.state.upload.urlImageAvatar,
        name: this.name,
        kitchens: this.kitchens,
        address: this.address,
        geo: this.geo,
        phone: this.phone,
        site: this.site,
        firstApply: null,

        breaks: this.breaks,
        lunches: this.lunches
      }
      console.log('CREATE CAFE', cafe);
      this.$store.dispatch('cafes/createCafe', cafe)
        .then(() => {
          this.$router.push('/')
        })
      this.isLoadingSaveCafe = false

    }
  },
  components: {
    UploadAvatarCafe,
    CreateInfo,
    CreateLunch,
    CreateBreakfast,
    CreateDinner,
    CreateBuns
  }
}
</script>