<template>
  <el-upload  class="avatar-uploader"
              action="https://jsonplaceholder.typicode.com/posts/"
              :show-file-list="false"
              :before-upload="beforeAvatarUpload">
    <img v-if="this.$store.state.upload.urlImageAvatar" :src="this.$store.state.upload.urlImageAvatar" class="avatar">
    <i v-else class="el-icon-plus avatar-uploader-icon"></i>

  </el-upload>
</template>

<script>
import firebase from 'firebase/app'
let uuid = require("uuid");
  export default {
    name: 'UploadAvatarCafe',
    data() {
      return { }
    },
    methods: {
      async beforeAvatarUpload(file) {
        try {
          const isWebP = file.type === 'image/webp';
          const isLt2M = file.size / 1024 < 10
          if (!isWebP) {
            this.$message.error('Картинка должна быть в формате WebP!');
            return
          } 
          if (!isLt2M) {
            this.$message.error('Размер изображения не может превышать 10КБ!');
            return
          }
          this.uploadImage(file)
        } catch (error) {
          console.log(error);
        }
      },
      async uploadImage(file) {
        const imageName = uuid.v1();
        const storageRef = firebase.storage().ref(`logo/${imageName}.webp`);
        await storageRef.put(file);
        const downloadUrl = await storageRef.getDownloadURL()
        this.$store.dispatch('upload/createUrlImageAvatar', downloadUrl)
      }
    }
  }
</script>

<style>
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
