<template>
<el-main>
  <el-tabs v-model="activeName">
    <el-tab-pane label="Все рестораны" name="first">
      <Restaurants />
    </el-tab-pane>
    <el-tab-pane label="Типы и кухни" name="second">
      <TypesKitchen />
    </el-tab-pane>
  </el-tabs>
</el-main>
</template>

<script>
import Restaurants from '@/components/Restaurants.vue'
import TypesKitchen from '@/components/TypesKitchen.vue'
export default {
  data() {
    return {
      activeName: 'first'
    };
  },
  methods: {
  },
  components: {
    Restaurants,
    TypesKitchen
  }
};
</script>
