<template>
<div class="header">
  <router-link to="/">
    <div class="header__logo">
      <el-link :underline="false">
        <div class="header__logo--logo">OLLO</div>
      </el-link>
      <!-- <div class="header__logo--text">admin</div> -->
    </div>
  </router-link>
  <div style="display:flex">
    <router-link to="/">
      <div style="display:flex;font-size: 15px; font-weight: 500;padding-right: 50px;color: #0028bd;cursor:pointer">
          <div>заявки</div> 
          <div v-if="orders.length === 0"><sup style="font-size: 13px; line-height: 13px; position: relative; vertical-align: baseline;">&nbsp;0</sup></div>
          <div v-else><sup style="font-size: 13px; line-height: 13px; position: relative; vertical-align: baseline;">&nbsp;+{{orders.length}}</sup></div>
      </div>
    </router-link>
    <div>

    <el-dropdown>
      <span class="el-dropdown-link" style="font-size: 15px;;cursor:pointer">
        {{email}}
        <i class="el-icon-arrow-down el-icon--right"></i>
      </span>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item @click.native="logout">Выйти</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>

    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'Header',
  computed: {
    orders() {
      return this.$store.state.cafes.cafesList.filter((item) => item.status === 'lead');
    },
    email() {
      return this.$store.state.auth.user
    }
  },
  created() {
    this.$store.dispatch('auth/infoUser')
  },
  methods: {
    async logout() {
      await this.$store.dispatch('auth/logout')
      this.$router.push('/login')
    }
  },
}
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 20px 20px 0 20px;
  // text-decoration: none;

  &__logo {
    display: flex;
    // align-items: start;
    // text-decoration: none;

    &--logo {
      color: rgb(240, 167, 9);
      font-weight: 600;
      font-size: 30px;
      // text-decoration: none;
    }
  }
}
.el-dropdown-link {
  font-size: 18px;
  font-weight: 500;
}
</style>
