<template>
<div>
  <div class="navigation" style="padding-bottom: 20px">
    <div>
    <el-select v-model="filterStatus" placeholder="Выберите статус" style="padding-right: 20px">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
    </el-select>
    <el-input v-model="filterTitle"
              placeholder="Введите имя заведения" 
              style="width: 250px;padding-right: 20px" 
              class="filter-item"  />
      <el-button @click="clearFilter">Сбросить фильтр</el-button>
    </div>
    <div>
      <el-button @click.prevent="handleClickRouterCreate">Добавить</el-button>
    </div>
  </div>
  <el-table 
            :data="this.$store.state.cafes.cafelistFilter.slice((currentPage-1)*pageSize,pageSize*currentPage)" 
            style="width: 100%" 
            class="mt-2">
    <el-table-column prop="logo" label="Логотип" width="80">
      <template v-slot="{row}">
        <div class="demo-image__preview">
          <el-image 
            style="width: 40px; height: 40px;border-radius: 50%;"
            :src="row.logo" 
            :preview-src-list="[row.logo]">
            <div slot="error" class="image-slot">
              <img src="../assets/error-img.png" style="width: 40px; height: 40px;border-radius: 50%;" />
            </div>
          </el-image>
        </div>
      </template>
    </el-table-column>
    <el-table-column prop="address" label="Имя">
      <template v-slot="{row}">
        <span class="link-type" @click="openDetailCafe(row.id)">{{ row.name }}</span>
      </template>
    </el-table-column>
    <el-table-column prop="name" label="Адрес">
      <template v-slot="{row}">
        <span>{{ row.address }}</span>
      </template>
    </el-table-column>
    <el-table-column prop="status" label="Статус">
      <template v-slot="{row}" @click.native="changeStatus(row)">
        <span v-if="row.status === 'active'" style="color: #7db164">актив</span>
        <span v-if="row.status === 'lead'" style="color: #3a8ee6">заявка</span>
        <span v-if="row.status === 'onmap'" style="color: #787979">на карте</span>
        <span v-if="row.status === null" style="color: #e65252">выкл</span>
      </template>
    </el-table-column>
    <el-table-column prop="eat" label="Еда">
      <template v-slot="{row}">
        <div v-if="row.breaks !== null && row.lunches === null && row.dinners === null">Завтрак</div>
        <div v-if="row.breaks === null && row.lunches !== null && row.dinners === null">Обед</div>
        <div v-if="row.breaks === null && row.lunches === null && row.dinners !== null">Ужин</div>
        <div v-if="row.breaks !== null && row.lunches !== null && row.dinners !== null">Завтрак | Обед | Ужин</div>
        <div v-else-if="row.breaks !== null && row.lunches !== null && row.dinners == null">Завтрак | Обед</div>
        <div v-else-if="row.breaks !== null && row.lunches == null && row.dinners !== null">Завтрак | Ужин</div>
        <div v-else-if="row.breaks == null && row.lunches !== null && row.dinners !== null">Обед | Ужин</div>
      </template>
    </el-table-column>
    <el-table-column
      label="">
      <template slot-scope="scope">
        <el-tooltip 
          class="item" 
          effect="dark" 
          content="Клонировать запись" 
          placement="left">
            <el-button
              type="info"
              icon="el-icon-document-copy"
              circle
              :loading="isCloningCafe"
              @click="handleCloningCafe(scope.row)"></el-button>
        </el-tooltip>
        <el-tooltip 
          class="item" 
          effect="dark" 
          content="Удалить" 
          placement="right">
            <el-button
              type="danger"
              icon="el-icon-delete"
              circle
              :loading="false"
              @click="handleDeleteCafe(scope.row)"></el-button>
        </el-tooltip>
      </template>
    </el-table-column>
  </el-table>
  <div style="display:flex; padding-top: 20px;align-items: center;justify-content: center;">
    <el-pagination class="mt-2"
                  v-bind="$attrs"
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange" 
                  :current-page="currentPage" 
                  :page-sizes="[20, 30, 40, 50,100]" 
                  :page-size="pageSize" 
                  layout="total, sizes, prev, pager, next, jumper" 
                  :total="this.$store.state.cafes.cafelistFilter.length">
    </el-pagination>
  </div>
</div>
</template>

<script>
import db from '../firebase-config'
export default {
  name: 'Restaurants',
  data() {
    return {
      listLoading: true,
      pageSize: this.isOpenState(),
      currentPage: 1,

      filterStatus: '',
      filterTitle: '',
      options: [{
        value: 'active',
        label: 'актив'
      }, {
        value: 'lead',
        label: 'заявка'
      }, {
        value: 'onmap',
        label: 'на карте'
      }, {
        value: null,
        label: 'выкл'
      }],

      isCloningCafe: false
    }
  },
  watch: {
    filterStatus() {
      this.filerCafes()
    },
    filterTitle() {
      this.filerCafes()  
    }
  },
  methods: {
    filerCafes() {
      const data = {
        status: this.filterStatus,
        title: this.filterTitle.trim()
      }
      this.$store.dispatch('cafes/filerListCafes', data)
    },
    getData() {
      const document = this.$store.state.cafes.cafelistFilter
      this.total = document.length
      return document
    },
    isOpenState() {
      if (!this.$cookies.get('pageSizeTable')) {
        this.$cookies.set('pageSizeTable', 20)
        return Number(this.$cookies.get('pageSizeTable'))
      } else {
        return Number(this.$cookies.get('pageSizeTable'))
      }
    },
    // Переключение страницы 
    handleCurrentChange(currentPage) {
      this.currentPage = currentPage
    },
    // Раскрываемся, чтобы отобразить количество элементов на странице
    handleSizeChange(pagesize) {
      this.pageSize = pagesize
      this.currentPage = 1
      this.arrayData = this.$store.state.cafes.cafelistFilter
      this.$cookies.set('pageSizeTable', pagesize);
    },
    handleClickRouterCreate() {
      this.$store.dispatch('upload/createUrlImageAvatar', null)
      this.$router.push('/create')
    },
    openDetailCafe(id) {
      this.$router.push(`/cafes/${id}`)
    },
    clearFilter() {
      const data = {
        status: '',
        title: ''
      }
      this.$store.dispatch('cafes/filerListCafes', data)
      this.filterStatus = ''
      this.filterTitle = ''
    },
    handleCloningCafe(row) {
      this.isCloningCafe = true
      console.log(row);
      const cafe = {
        status: row.status,
        logo: row.logo,
        name: row.name,
        kitchens: row.kitchens,
        address: row.address,
        geo: row.geo,
        phone: row.phone,
        site: row.site,
        firstApply: row.firstApply,

        breaks: row.breaks,
        lunches: row.lunches
      }
      console.log('CLONING CAFE', cafe);
      this.$store.dispatch('cafes/createCafe', cafe)
        .then(() => {
          this.isCloningCafe = false
          this.$notify.success({
            title: 'Успех',
            message: 'Ресторан клонирован',
            offset: 100
          });
          // this.getData()
        })
        .catch(() => {
          this.isDeleteCafe = false
          this.$notify.success({
            title: 'Ошибка',
            message: 'Что-то пошло не так',
            offset: 100
          });    
        })
    },
    handleDeleteCafe(row) {
      this.$confirm('Вы действительно хотите удалить?', '', {
        confirmButtonText: 'Да',
        cancelButtonText: 'Назад',
        type: 'warning'
      }).then(() => {
        this.isDeleteCafe = true
        console.log('delete - ', row.id);
        this.$store.dispatch('cafes/deleteCafe', row.id)
          .then(() => {
            this.isDeleteCafe = false
            this.$notify.success({
              title: 'Успех',
              message: 'Ресторан удален',
              offset: 100
            });
          })
          .catch(() => {
            this.isDeleteCafe = false
            this.$notify.success({
              title: 'Ошибка',
              message: 'Что-то пошло не так',
              offset: 100
            });    
          })
      }).catch(() => {     
      });
    }
  }
}
</script>

<style lang="scss" scoped>
.navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.navigation-add {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}
</style>
