<template>
<el-row :gutter="12">
  <el-col :span="8">

    <!-- <div class="item">Типы</div> -->
    <!-- <el-card shadow="never" style="min-height: 50px">
      <div style="display:flex;justify-content: center;align-items: center;">
        <el-button icon="el-icon-plus" circle></el-button>
      </div>
    </el-card> -->

  </el-col>
  <el-col :span="8">

    <div class="item">Кухни</div>
    <el-card shadow="never" style="min-height: 200px">
      <div v-for="kitchen in kitchensList" :key="kitchen.id">
        <div class="item-wrapper">
          <div class="item-wrapper__title">{{kitchen.name}}</div>
          <div class="item-wrapper__btn-nav">
            <el-button size="mini" icon="el-icon-edit" type="info" @click="openDialogVisibleEditKitchen(kitchen)"></el-button>
            <el-button size="mini" icon="el-icon-delete" type="danger" @click="openDialogVisibleDeleteKitchen(kitchen)"></el-button>
          </div>
        </div>
      </div>

      <div style="display:flex;justify-content: center;align-items: center;">
        <el-button icon="el-icon-plus" circle @click="openDialogVisibleAddNewKitchen()"></el-button>
      </div>
    </el-card>

  </el-col>
  <!-- Редактирование кухни -->
  <el-dialog
    title="Добавить новую кухню"
    :visible.sync="dialogVisibleAddNewKitchen"
    width="400px"
    center>
    <el-input placeholder="Введите название кухни" v-model="inputDialogAddNewKitchen"></el-input>
    <span slot="footer" class="dialog-footer">
      <el-button @click="dialogVisibleAddNewKitchen = false">Назад</el-button>
      <el-button type="primary" @click="addNewKitchen()">Добавить</el-button>
    </span>
  </el-dialog>
  <!-- Добавление новой кухни -->
  <el-dialog
    title="Добавить новую кухню"
    :visible.sync="dialogVisibleEditKitchen"
    width="400px"
    center>
    <el-input placeholder="Введите название кухни" v-model="inputDialogEditKitchen"></el-input>
    <span slot="footer" class="dialog-footer">
      <el-button @click="dialogVisibleEditKitchen = false">Назад</el-button>
      <el-button type="primary" @click="editKitchen()">Сохранить</el-button>
    </span>
  </el-dialog>
  <!-- Удаление кухни -->
  <el-dialog
    :data="dialogDeleteData"
    :visible.sync="dialogVisibleDeleteKitchen"
    width="400px">
    <span>Вы действительно хотите удлать {{dialogDeleteData.name}}?</span>
    <span slot="footer" class="dialog-footer">
      <el-button @click="dialogVisibleDeleteKitchen = false">Назад</el-button>
      <el-button type="primary" @click="deleteKitchen(dialogDeleteData.id)">Да</el-button>
    </span>
  </el-dialog>
</el-row>
</template>

<script>
export default {
  name: 'TypesKitchen',
  data() {
    return {
      dialogVisibleAddNewKitchen: false,
      inputDialogAddNewKitchen: '',

      dialogVisibleEditKitchen: false,
      inputDialogEditKitchen: '',
      dialogEditData: '',
      idForKitchen: 3,

      dialogVisibleDeleteKitchen: false,
      dialogDeleteData: ''
    }
  },
  computed: {
    kitchensList() {
      return this.$store.state.kitchens.kitchens;
    }
  },
  created() {
    this.$store.dispatch('kitchens/retrieveKitchens')
  },
  methods: {
    openDialogVisibleAddNewKitchen() {
      this.inputDialogAddNewKitchen = ''
      this.dialogVisibleAddNewKitchen = true
    },
    addNewKitchen() {
      if (this.inputDialogAddNewKitchen.trim().length == 0) {
        return
      }

      this.$store.dispatch('kitchens/addKitchen', {
        id: this.idForKitchen,
        name: this.inputDialogAddNewKitchen,
      })
      this.inputDialogAddNewKitchen = ''
      this.idForKitchen++

      this.dialogVisibleAddNewKitchen = false
    },

    openDialogVisibleEditKitchen(kitchen) {
      this.inputDialogEditKitchen = ''
      this.inputDialogEditKitchen = kitchen.name
      this.dialogEditData = kitchen
      this.dialogVisibleEditKitchen = true
    },
    editKitchen() {
      const data = {
        id: this.dialogEditData.id,
        name: this.inputDialogEditKitchen
      }
      this.$store.dispatch('kitchens/updateKitchen', data)
      this.dialogVisibleEditKitchen = false
    },
    openDialogVisibleDeleteKitchen(kitchen) {
      this.dialogVisibleDeleteKitchen = true
      this.dialogDeleteData = kitchen
    },
    deleteKitchen(id) {
      this.$store.dispatch('kitchens/deleteKitchen', id)
      this.dialogVisibleDeleteKitchen = false
    }
  },
  head() {
    return {
      title: 'OLLO - ',
    }
  }
}
</script>

<style lang="scss" scoped>
.item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  padding: 0 2px 0 2px;
}

.item-wrapper__btn-nav {
  display: none;
}

.item-wrapper:hover {
  background: rgb(250, 250, 250);
  border-radius: 4px;
}

.item-wrapper:hover .item-wrapper__btn-nav {
  display: block;
}

.text {
  font-size: 15px;
  font-weight: 500;
}

.item {
  padding: 5px 0 10px 0;
  font-weight: 500;
}
</style>
