<template>
<el-form ref="form" label-width="100px">
  <el-row>
    <el-col :span="12" style="padding-right:50px">

      <el-form-item label="Статус 1" v-if="name === null ||
                                          formkitchens.length === 0 ||
                                          address === null ||
                                          geoLatitude === null ||
                                          geoLongitude === null">
        <el-select v-model="status"
                   :disabled="isDesabledStatus"
                   placeholder="Выберете статус">
          <el-option label="выкл" value='null'></el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="Статус 2" v-else>
        <el-select v-model="status"
                   :disabled="isDesabledStatus"
                   placeholder="Выберете статус">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="Логотип">
        <UploadAvatarCafe @imageUrl='onImageUrl' />
      </el-form-item>

      <el-form-item label="Название">
        <el-input v-model="name" placeholder="Введите название"></el-input>
      </el-form-item>

      <el-form-item label="Кухни">
        <el-select v-model="formkitchens" multiple placeholder="Выберете ухни">
          <el-option
            v-for="item in kitchens"
            :key="item.id"
            :label="item.name"
            :value="item.name">
          </el-option>
        </el-select>
      </el-form-item>

    </el-col>
    <el-col :span="12">

      <el-form-item label="Адрес">
        <el-input v-model="address" placeholder="Введите адрес"></el-input>
      </el-form-item>

      <el-form-item label="Координаты">
        <div style="display: flex">
          <el-input v-model="geoLatitude"
                    style="padding-right: 10px"
                    placeholder="Введите широтy">
          </el-input>
          <el-input v-model="geoLongitude" 
                    placeholder="Введите долготy">
          </el-input>
        </div>
      </el-form-item>

      <el-form-item label="Телефон">
        <el-input v-model="phone"  
                  placeholder="Введите номер телефона"></el-input>
      </el-form-item>

      <el-form-item label="Веб-сайт">
        <el-input v-model="site" placeholder="Введите веб-сайт"></el-input>
      </el-form-item>

    </el-col>
  </el-row>
</el-form>
</template>

<script>
import UploadAvatarCafe from '../upload/UploadAvatarCafe.vue'
export default {
  components: { UploadAvatarCafe },
  name: 'CreateInfo',
  data() {
    return {
      status: 'null',
      logo: null,
      name: null,
      formkitchens: null,
      address: null,
      geoLatitude: null,
      geoLongitude: null,
      phone: null,
      site: null,

      defaultOptions: [{
        value: 'null',
        label: 'выкл'
      }],

      options: [{
        value: 'onmap',
        label: 'на карте'
      }, {
        value: 'null',
        label: 'выкл'
      }],
      isInputForm: false
    }
  },
  watch: {
    logo(value) {
      this.$emit('logo', value);
    },
    name(value) {
      if (!value) {
        this.$emit('name', null);
      } else {
        this.$emit('name', value);
      }
    },
    formkitchens(value) {
      if (value.length === 0) {
        this.$emit('kitchens', null);
      } else {
        this.$emit('kitchens', value);
      }
    },
    address(value) {
      if (!value) {
        this.$emit('address', null);
      } else {
        this.$emit('address', value);
      }
    },
    geoLatitude(value) {
      if (!value) {
        this.$emit('geoLatitude', null);
      } else {
        this.$emit('geoLatitude', value);
      }
    },
    geoLongitude(value) {
      if (!value) {
        this.$emit('geoLongitude', null);
      } else {
        this.$emit('geoLongitude', value);
      }
    },
    phone(value) {
      if (!value) {
        this.$emit('phone', null);
      } else {
        this.$emit('phone', value);
      }
    },
    site(value) {
      if (!value) {
        this.$emit('site', null);
      } else {
        this.$emit('site', value);
      }
    },
  },
  computed: {
    kitchens() {
      return this.$store.state.kitchens.kitchens;
    }
  },
  created() {
    this.$store.dispatch('kitchens/retrieveKitchens')
  },
  methods: {
    onImageUrl(data) {
      this.logo = data
    }
  }
}
</script>
