<template>
<el-form ref="form" label-width="100px">
  <el-row>
    <el-col>
      <div class="grid-content bg-purple">
        <!-- Время -->
        <div style="display: flex">
          <el-form-item label="Время:" style="width: 500px;padding-right: 100px">
            <div style="display: flex">
              <div style="display: flex">
                <div style="padding-right: 10px">от</div>
                <el-time-picker v-model="startTime"
                                value-format="HH:mm" 
                                format="HH:mm" 
                                placeholder="10:00" 
                                style="width: 180px">
                </el-time-picker>
              </div>
              <div style="display: flex">
                <div style="padding-right: 10px;padding-left: 10px">до</div>
                <el-time-picker v-model="endTime"
                                value-format="HH:mm" 
                                format="HH:mm" 
                                placeholder="17:00" 
                                style="width: 180px">
                </el-time-picker>
              </div>
            </div>
          </el-form-item>
          <el-form-item label="Цена:" style="width: 500px">
            <div style="display: flex">
              <div style="display: flex">
                <div style="padding-right: 10px">от</div>
                <el-input v-model.number="minCost" placeholder="100" maxlength="5" style="width: 82px;padding-right: 10px"></el-input>
              </div>
              <div style="display: flex">
                <div style="padding-right: 10px">до</div>
                <el-input v-model.number="maxCost" placeholder="400" maxlength="5" style="width: 71px"></el-input>
              </div>
            </div>
          </el-form-item>
        </div>
        <!-- Публикации -->
        <el-form-item label="Публикации">
          <div style="padding-bottom:20px">
            <el-button plain @click="createOpenDialog">Добавить</el-button>
          </div>
          <el-col>
            <div style="display:flex; flex-wrap: wrap;">
              <div v-for="newMenuData in menu" :key="newMenuData.index" style="padding-right:20px; padding-bottom:20px">
                <el-card style="width: 260px; height: 500px" :body-style="{ padding: '10px' }">
                  <div class="clearfix" style="padding: 10px!important; border-bottom: 1px solid #EBEEF5;">
                    <el-switch v-model="newMenuData.active"
                               @click.native="switchActiveMenu(newMenuData)"
                               active-color="#13ce66"
                               inactive-color="#ff4949">
                    </el-switch>

                    <el-dropdown style="float: right;">
                      <el-button size="mini">
                        <i class="el-icon-arrow-down"></i>
                      </el-button>
                      <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item @click.native="updateOpenDialog(newMenuData)">Редактировать</el-dropdown-item>
                        <el-dropdown-item @click.native="deleteMenu(newMenuData.id)">Удалить</el-dropdown-item>
                      </el-dropdown-menu>
                    </el-dropdown>
                  </div>
                  <div style="padding-top:10px">
                    <img :src="newMenuData.photo" class="image" style="width: 235px; height: 235px">
                    <div class="card-descr">{{newMenuData.desc}}</div>
                  </div>
                </el-card>
              </div>
            </div>
          </el-col>
        </el-form-item>
      </div>

    </el-col>
  </el-row>
  <!-- Диалог добавления публикации -->
  <el-dialog
    title="Добавление новой публикации"
    :visible.sync="dialogCreateMenuVisible"
    width="30%"
    center>
    <div>
      <div style="padding: 0 0 20px 0; display: flex;flex-direction: column;align-items: center;">
        <UploadPhotoMenu />
      </div>
      <div style="padding: 0 0 5px 0;">Описание</div>
      <el-input
        type="textarea"
        :rows="3"
        v-model="dataCreateMenuDesc">
      </el-input>
    </div>

    <span slot="footer" class="dialog-footer">
      <el-button @click="dialogCreateMenuVisible = false">Назад</el-button>
      <el-button type="primary" @click="createNewMenuDialog()">Добавить</el-button>
    </span>
  </el-dialog>
  <!-- Диалог редактирования публикации -->
    <el-dialog
    title="Редактирование публикации"
    :data="dataUpdateDialog"
    :visible.sync="dialogUpdateMenuVisible"
    width="30%"
    center>
    <div>
      <div style="padding: 0 0 20px 0; display: flex;flex-direction: column;align-items: center;">
        <UploadPhotoMenu />
      </div>
      <div style="padding: 0 0 5px 0;">Описание</div>
      <el-input
        type="textarea"
        :rows="3"
        v-model="dataUpdateDialogDesc">
      </el-input>
    </div>

    <span slot="footer" class="dialog-footer">
      <el-button @click="dialogUpdateMenuVisible = false">Назад</el-button>
      <el-button type="primary" @click="saveUpdateDialog(dataUpdateDialog.id)">Сохранить</el-button>
    </span>
  </el-dialog>
</el-form>
</template>

<script>
import UploadPhotoMenu from '../upload/UploadPhotoMenu.vue';

export default {
  components: { UploadPhotoMenu },
  name: 'CreateBreakfast',
  data() {
    return {
      // create dialog
      dialogCreateMenuVisible: false,
      dataCreateMenuDesc: null,

      // update dialog
      dialogUpdateMenuVisible: false,
      dataUpdateDialog: [],
      dataUpdateDialogDesc: null,
      photo: null,
      
      // delete dialog
      dialogDeleteMenuVisible: false,

      startTime: null,
      endTime: null,
      minCost: null,
      maxCost: null,
      menu: [],

      active: false
    };
  },
  watch: {
    startTime(value) {
      if (!value) {
        this.$emit('breakStartTime', null);
      } else {
        this.$emit('breakStartTime', value);
      }
    },
    endTime(value) {
      if (!value) {
        this.$emit('breakEndTime', null);
      } else {
        this.$emit('breakEndTime', value);
      }
    },
    minCost(value) {
      if (!value) {
        this.$emit('breakMinCost', null);
      } else {
        this.$emit('breakMinCost', value);
      }
    },
    maxCost(value) {
      if (!value) {
        this.$emit('breakMaxCost', null);
      } else {
        this.$emit('breakMaxCost', value);
      }
    },
    menu(value) {
      this.$emit('menuBreakfast', value);
    }
  },
  methods: {
    createOpenDialog() {
      const photo = null
      this.$store.dispatch('upload/createUrlImageMenu', photo)
      this.dialogCreateMenuVisible = true
    },
    createNewMenuDialog() {
      if (!this.dataCreateMenuDesc) {
        this.dataCreateMenuDesc = null
      } else {
        this.dataCreateMenuDesc = this.dataCreateMenuDesc.trim()
      }
      const newMenuData = {
        id: Date.now().toString(),
        active: true,
        desc: this.dataCreateMenuDesc,
        photo: this.$store.state.upload.urlImageMenu,
        time: Date.now()
      }
      this.menu.push(newMenuData)
      this.dataCreateMenuDesc = null
      this.dialogCreateMenuVisible = false
      const photo = null
      this.$store.dispatch('upload/createUrlImageMenu', photo)
    },
    // update dialog
    updateOpenDialog(newMenuData) {
      this.$store.dispatch('upload/createUrlImageMenu', newMenuData.photo)
      this.dataUpdateDialog = newMenuData
      this.dialogUpdateMenuVisible = true
      this.dataUpdateDialogDesc = newMenuData.desc
    },
    saveUpdateDialog(id) {
      console.log("saveUpdateDialog(id) " + id)
      if (!this.dataUpdateDialogDesc) {
        this.dataUpdateDialogDesc = null
      } else {
        this.dataUpdateDialogDesc = this.dataUpdateDialogDesc.trim()
      }
      const breaks = {
        id: id,
        active: true,
        desc: this.dataUpdateDialogDesc,
        photo: this.$store.state.upload.urlImageMenu,
        time: Date.now()
      }
      const index = this.menu.findIndex(item => item.id == breaks.id)
      this.menu.splice(index, 1, breaks)
      this.dialogUpdateMenuVisible = false
    },
    deleteMenu(id) {
      this.$confirm('Вы действительно хотите удалить?', '', {
        confirmButtonText: 'Да',
        cancelButtonText: 'Назад',
        type: 'warning'
      }).then(() => {
        const index = this.menu.findIndex(item => item.id == id)
        this.menu.splice(index, 1)
      }).catch(() => {     
      });
    },
    switchActiveMenu(newMenuData) {
      const index = this.menu.findIndex(item => item.id == newMenuData.id)
      this.menu.splice(index, 1, newMenuData)
    }
  }
}
</script>

<style lang="scss" scoped>
.card-descr {
  width: 235px;
  height: 150px;
  overflow-x: auto;
  word-wrap: break-word;
  line-height: normal;
}
</style>
