<template>
<el-main>
  <div class="create">
  <el-tabs v-model="activeName">
    <el-form label-width="130px">
      <el-form-item v-if="!isInputCreticalForm" label="Статус">
        <span style="color: #e65252">выкл</span>
      </el-form-item>
      <el-form-item v-if="isInputCreticalForm" label="Статус">
        <el-select v-model="status"
                    placeholder="Выберете статус">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
            :disabled="item.disabled">
          </el-option>
        </el-select>
      </el-form-item>
    </el-form>
      <el-tab-pane label="Информация" name="first">
        <div v-if="fullscreenLoading"
             v-loading.fullscreen.lock="fullscreenLoading" />
        <el-form v-if="!fullscreenLoading" ref="form" label-width="130px">
          <el-row>
            <el-col :span="12" style="padding-right:50px">

              <el-form-item label="Логотип">
                <UploadAvatarCafe />
              </el-form-item>

              <el-form-item label="Название">
                <el-input v-model="name" placeholder="Введите название"></el-input>
              </el-form-item>

              <el-form-item label="Кухни">
                <el-select v-model="formkitchens" multiple placeholder="Выберете ухни">
                  <el-option
                    v-for="item in kitchens"
                    :key="item.id"
                    :label="item.name"
                    :value="item.name">
                  </el-option>
                </el-select>
              </el-form-item>

              <el-form-item v-if="firstApply !== null" label="Инф. гл. админа">
                  <div><b>Имя:</b> {{userAdmin.name}}</div>
                  <div><b>Email:</b> {{userAdmin.email}}</div>
                  <div><b>Номер телефона:</b> {{userAdmin.phone}}</div>
                  <div><b>Время отправки заявки:</b> {{timeAdmin}}</div>
                </el-form-item>
              <div v-if="status === 'lead'">
                <el-form-item>
                  <el-button type="success" style="width:240px" @click="acceptAdministrator">Принять администратора</el-button>
                </el-form-item>
                <el-form-item>
                  <el-button type="danger" style="width:240px" @click="rejectAdministrator">Отклонить администратора</el-button>
                </el-form-item>
              </div>

            </el-col>
            <el-col :span="12">

              <el-form-item label="Адрес">
                <el-input v-model="address" placeholder="Введите адрес"></el-input>
              </el-form-item>

              <el-form-item label="Координаты">
                <div style="display: flex">
                  <el-input v-model="geoLatitude"
                            style="padding-right: 10px"
                            placeholder="Введите широтy">
                  </el-input>
                  <el-input v-model="geoLongitude" 
                            placeholder="Введите долготy">
                  </el-input>
                </div>
              </el-form-item>

              <el-form-item label="Телефон">
                <el-input v-model="phone"  
                          placeholder="Введите номер телефона"></el-input>
              </el-form-item>

              <el-form-item label="Веб-сайт">
                <el-input v-model="site" placeholder="Введите веб-сайт"></el-input>
              </el-form-item>

            </el-col>
          </el-row>
        </el-form>
      </el-tab-pane>
      <el-tab-pane label="Завтрак" name="third">
        <UpdateBreakfast @breakStartTime='onBreakStartTime'
                         @breakEndTime='onBreakEndTime'
                         @breakMinCost='onBreakMinCost'
                         @breakMaxCost='onBreakMaxCost'
                         @menuBreakfast='onMenuBreakfast' />
      </el-tab-pane>
      <el-tab-pane label="Обед" name="second">
        <UpdateLunch @lunchStartTime='onLunchStartTime'
                     @lunchEndTime='onLunchEndTime'
                     @lunchMinCost='onLunchMinCost'
                     @lunchMaxCost='onLunchMaxCost'
                     @menuLunch='onMenuLunch' />
      </el-tab-pane>
      <!-- <el-tab-pane label="Ужин" name="fourth">
        <UpdateDinner @dinnerStartTime='onDinnerStartTime'
                      @dinnerEndTime='onDinnerEndTime'
                      @dinnerMinCost='onDinnerMinCost'
                      @dinnerMaxCost='onDinnerMaxCost'
                      @menuDinner='onMenuDinner' />
      </el-tab-pane> -->
      <!-- <el-tab-pane label="Плюшки" disabled name="fifth">
        <UpdateBuns />
      </el-tab-pane> -->
    </el-tabs>
    <div style="display:flex; padding-top: 20px;align-items: center;justify-content: center;">
      <el-button :loading="isLoadingSaveCafe" @click.native="updateCafe()">Сохранить изменения</el-button>
    </div>
  </div>
</el-main>
</template>

<script>
import UpdateInfo from '../../components/update/UpdateInfo.vue'
import UpdateLunch from '../../components/update/UpdateLunch.vue'
import UpdateBreakfast from '../../components/update/UpdateBreakfast.vue'
import UpdateDinner from '../../components/update/UpdateDinner.vue'
// import UpdateBuns from '../../components/update/UpdateBuns.vue'
import UploadAvatarCafe from '../../components/upload/UploadAvatarCafe.vue'
import db from '../../firebase-config'
import firebase from 'firebase/app'
export default {
  name: 'UpdateCafe',
  data() {
    return {
      activeName: 'first',
      isLoadingSaveCafe: false,
      firstApply: null,
      status: null,
      name: null,
      formkitchens: null,
      userAdmin: {
        cafe: {
          id: null
        },
        email: null,
        name: null,
        phone: null,
        photo: null,
        provider: null,
        role: null,
        status: null,
        time: null,
        token: null,
        uid: null
      },
      address: null,
      geoLatitude: null,
      geoLongitude: null,
      geo: {
        latitude: null,
        longitude: null
      },
      phone: null,
      site: null,
      breaks: null,
      breaksStartTime: null,
      breaksEndTime: null,
      breaksMinCost: null,
      breaksMaxCost: null,
      breaksMenu: [],

      lunches: null,
      lunchesStartTime: null,
      lunchesEndTime: null,
      lunchesMinCost: null,
      lunchesMaxCost: null,
      lunchesMenu: [],

      options: [{
        value: 'active',
        label: 'актив',
        disabled: true
      }, {
        value: 'lead',
        label: 'заявка',
        disabled: true
      }, {
        value: 'onmap',
        label: 'на карте'
      }, {
        value: null,
        label: 'выкл',
      }],
      isInputCreticalForm: false,
      isInputCreticalFormBreaks: false,
      isInputCreticalFormLunches: false,
      isInputCreticalFormDinners: false,

      fullscreenLoading: true,
      isLoadingAllData: false,
      isLoadOnBreakEndTime: false,
      isLoadOnBreakStartTime: false,
      isLoadOnBreakMinCost: false,

      isLoadOnLunchStartTime: false,
      isLoadOnLunchEndTime: false,
      isLunchOnMinCost: false,
    }
  },
  computed: {
    kitchens() {
      return this.$store.state.kitchens.kitchens;
    },
    logo() {
      return this.$store.state.upload.urlImageAvatar
    },
    timeAdmin() {
      const d = new Date(this.userAdmin.time);
      const options = { month: 'numeric', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric' }
      return new Intl.DateTimeFormat("ru-RU", options).format(d);
    }
  },
  beforeCreate() {
    this.$store.dispatch('kitchens/retrieveKitchens')
  },
  created() {
    this.getDataCafe()
  },
  watch: {
    logo() {
      this.lisenData()
    },
    name(value) {
      if (!value) {
        this.name = null
      } else {
        this.name = value
      }
      this.lisenData()
    },
    formkitchens(value) {
      if (value?.length === 0) {
        this.formkitchens = null
      } else {
        this.formkitchens = value
      }
      this.lisenData()
    },
    address(value) {
      if (!value) {
        this.address = null
      } else {
        this.address = value
      }
      this.lisenData()
    },
    geoLatitude(value) {
      if (!value) {
        this.geoLatitude = null
        this.geo.latitude = null
      } else {
        this.geoLatitude = value
        this.geo.latitude = value
      }
      this.lisenData()
    },
    geoLongitude(value) {
      if (!value) {
        this.geoLongitude = null
        this.geo.longitude = null
      } else {
        this.geoLongitude = value
        this.geo.longitude = value
      }
      this.lisenData()
    },
    phone(value) {
      if (!value) {
        this.phone = null
      } else {
        this.phone = value
      }
      this.lisenData()
    },
    site(value) {
      if (!value) {
        this.site = null
      } else {
        this.site = value
      }
      this.lisenData()
    }
  },
  methods: {
  getDataCafe() {
    db.collection('cafes').doc(this.$route.params.id).get()
      .then(snapshot => {
        if (!snapshot.exists) return;
        let cafe = snapshot.data()
        this.$store.dispatch('upload/createUrlImageAvatar', cafe.logo)
        this.id = cafe.id
        this.status = cafe.status
        this.name = cafe.name
        this.formkitchens = cafe.kitchens
        this.firstApply = cafe.firstApply
        if ( !cafe.firstApply ) {
          console.log("CAFE FIRST APPLY " + cafe.firstApply)
          this.firstApply = null
        }
        this.address = cafe.address
        if (cafe.geo.latitude !== null) {
          this.geoLatitude = cafe.geo.latitude.toString()
        }
        if (cafe.geo.longitude !== null) {
          this.geoLongitude = cafe.geo.longitude.toString()
        }
        this.geoLatitude = cafe.geo.latitude
        this.geoLongitude = cafe.geo.longitude
        this.phone = cafe.phone
        this.site = cafe.site
        if ( !cafe.site ) {
          this.site = null
        }
        console.log("GET ONE CAFE", cafe);
        if ( this.firstApply ) {
          this.getInfoAdmin(this.firstApply)
        } else {
          this.fullscreenLoading = false
          this.isLoadingAllData = true
          this.lisenData()
        }
      })
      .catch((error) => {
        console.log("GET ONE CAFE ERROR", error);
      })
    },
    getInfoAdmin(idAdmin) {
      db.collection('users').doc(idAdmin).get()
        .then(snapshot => {
          if (!snapshot.exists) return;
          let admin = snapshot.data()
          this.userAdmin = admin
          this.fullscreenLoading = false
          this.isLoadingAllData = true
          this.lisenData()
        })
    },
    // UpdateLunch
    onBreakStartTime(value) {
      this.breaksStartTime = value
      this.isLoadOnBreakStartTime = true
      this.lisenData()
    },
    onBreakEndTime(value) {
      this.breaksEndTime = value
      this.isLoadOnBreakEndTime = true
      this.lisenData()
    },
    onBreakMinCost(value) {
      if (!value) {
      this.breaksMinCost = null
      } else {
      this.breaksMinCost = Number(value)
      }
      this.isLoadOnBreakMinCost = true
      this.lisenData()
    },
    onBreakMaxCost(value) {
      if (!value) {
      this.breaksMaxCost = null
      } else {
      this.breaksMaxCost = Number(value)
      }
    },
    onMenuBreakfast(value) {
      this.breaksMenu = value
    },
    // UpdateLunch
    onLunchStartTime(value) {
      this.lunchesStartTime = value
      this.isLoadOnLunchStartTime = true
      this.lisenData()
    },
    onLunchEndTime(value) {
      this.lunchesEndTime = value
      this.isLoadOnLunchEndTime = true
      this.lisenData()
    },
    onLunchMinCost(value) {
      if (!value) {
        this.lunchesMinCost = null
      } else {
        this.lunchesMinCost = Number(value)
      }
      this.isLunchOnMinCost = true
      this.lisenData()
    },
    onLunchMaxCost(value) {
      if (!value) {
        this.lunchesMaxCost = null
6      } else {
        this.lunchesMaxCost = Number(value)
      }
    },
    onMenuLunch(value) {
      this.lunchesMenu = value
    },
    checkingFieldsMenu() {
      if (!this.breaksStartTime && !this.breaksEndTime && !this.breaksMinCost) {
        this.breaks = null
      } else {
        const data = {
          startTime: this.breaksStartTime,
          endTime: this.breaksEndTime,
          minCost: Number(this.breaksMinCost),
          maxCost: Number(this.breaksMaxCost),
          menu: this.breaksMenu
        }
        this.breaks = data
      }
      if (!this.lunchesStartTime && !this.lunchesEndTime && !this.lunchesMinCost) {
        this.lunches = null
      } else {
        const data = {
          startTime: this.lunchesStartTime,
          endTime: this.lunchesEndTime,
          minCost: Number(this.lunchesMinCost),
          maxCost: Number(this.lunchesMaxCost),
          menu: this.lunchesMenu
        }
        this.lunches = data
      }
    },
    сheckingМariablesForm() {
      if(this.name?.trim() === '') {
        this.name = null
      }
      if (this.name !== null) {
        this.name = this.name.trim()
      }
      if (this.address?.trim() === '') {
        this.address = null
      }
      if (this.address !== null) {
        this.address = this.address.trim()
      }
      if (this.phone?.trim() === '') {
        this.phone = null
      }
      if (this.phone !== null) {
        this.phone = this.phone.trim()
      }
      if ( !this.firstApply ) {
        this.firstApply = null
      }
      if ( !this.site ) {
        this.site = null
      } else if ( this.site !== '') {
        this.site = this.site?.trim()
      } else if ( this.site ) {
        this.site = null
      }
      // console.log(this.geo.longitude);
      if (this.geo.longitude === null) {
        this.geo.longitude = null
      } else {
        if (this.geo.longitude.toString()?.trim() === '') {
          this.geo.longitude = null
        }
      }
      if (this.geo.longitude !== null) {
        const longitude = this.geo.longitude.toString().replace(/[^\d.]/ig, '')
        // console.log('longitude', longitude);
        if (longitude === '') {
          // console.log('Empty longitude');
          this.geo.longitude = null
        } else {
          // console.log('this.geo.longitude');
          this.geo.longitude = parseFloat(longitude.trim())
        }
      }
      if (this.geo.latitude === null) {
        this.geo.latitude = null
      } else {
        if(this.geo.latitude.toString()?.trim() === '') {
          this.geo.latitude = null
        }
      }
      if (this.geo.latitude !== null) {
        const latitude = this.geo.latitude.toString().replace(/[^\d.]/ig, '')
        // console.log('latitude', latitude);
        if (latitude === '') {
          // console.log('Empty latitude');
          this.geo.latitude = null
        } else {
          this.geo.latitude = parseFloat(latitude.trim())
        }
      }
    },
    updateCafe() {
      this.isLoadingSaveCafe = true
      this.checkingFieldsMenu()
      this.сheckingМariablesForm()
      if (!this.isInputCreticalForm) {
        this.status = null
      }
      const cafe = {
        id: this.id,
        status: this.status,
        logo: this.$store.state.upload.urlImageAvatar,
        name: this.name,
        kitchens: this.formkitchens,
        firstApply: this.firstApply,
        address: this.address,
        geo: this.geo,
        phone: this.phone,
        site: this.site,

        breaks: this.breaks,
        lunches: this.lunches
      }
      console.log('UPDATE CAFE', cafe);
      this.$store.dispatch('cafes/saveUpdateCafe', cafe)
        .then(() => {
          this.$router.push('/')
        })
      this.isLoadingSaveCafe = false

    },
    acceptAdministrator() {
      this.fullscreenLoading = true
      db.doc('staff/' + this.id).update(
        {approved: firebase.firestore.FieldValue.arrayUnion(this.userAdmin.email)} 
      )
      .then(() => {
        this.checkingFieldsMenu()
        this.сheckingМariablesForm()
        const cafe = {
          id: this.id,
          status: 'active',
          logo: this.$store.state.upload.urlImageAvatar,
          name: this.name,
          kitchens: this.formkitchens,
          firstApply: this.firstApply,
          address: this.address,
          geo: this.geo,
          phone: this.phone,
          site: this.site,

          breaks: this.breaks,
          lunches: this.lunches
        }
        this.$store.dispatch('cafes/saveUpdateCafe', cafe)
          .then(() => {
            db.doc('users/' + this.userAdmin.email).update({status: 'approved', role: 'admin', time: Date.now()})
            console.log('accept administrator done');
            this.getDataCafe()
            setTimeout(() => {
              this.getDataCafe()
            }, 2000)
          })
      })
      .catch((error) => {
        console.log('ERROR CREATE CAFE', error);
      })
    },
    rejectAdministrator() {
      // console.log('rejectAdministrator');
      this.checkingFieldsMenu()
      this.сheckingМariablesForm()
      this.fullscreenLoading = true
      const cafe = {
        id: this.id,
        status: 'onmap',
        logo: this.$store.state.upload.urlImageAvatar,
        name: this.name,
        kitchens: this.formkitchens,
        firstApply: null,
        address: this.address,
        geo: this.geo,
        phone: this.phone,
        site: this.site,

        breaks: this.breaks,
        lunches: this.lunches
      }
      this.$store.dispatch('cafes/saveUpdateCafe', cafe)
        .then(() => {
          db.doc('users/' + this.userAdmin.email).update({status: 'denied', time: Date.now()})
          this.getDataCafe()
        })
    },
    lisenData() {
      const { name, kitchens, address, geo, geoLatitude, geoLongitude } = this
      const logo = this.$store.state.upload.urlImageAvatar
      if (!this.isLoadingAllData) { return }
      if (logo !== null && name !== null && kitchens !== null && address !== null && geoLatitude !== null && geoLongitude) {
        if (this.breaksStartTime !== null && this.breaksEndTime !== null && this.breaksMinCost !== null) {
          this.isInputCreticalFormBreaks = true
        } else {
          this.isInputCreticalFormBreaks = false
        }

        if (this.lunchesStartTime !== null && this.lunchesEndTime !== null && this.lunchesMinCost !== null) {
          this.isInputCreticalFormLunches = true
        } else {
          // console.log("DEBUG " + this.lunchesStartTime + " " + this.lunchesEndTime + " " + this.lunchesMinCost)
          this.isInputCreticalFormLunches = false
        }

        if (this.isInputCreticalFormBreaks || this.isInputCreticalFormLunches) {
          this.isInputCreticalForm = true
        } else {
          this.isInputCreticalForm = false
        }
      } else {
        console.log("DEBUG " + cafe.toString)
        // console.log('dark');
        this.isInputCreticalForm = false
        // this.status = null
      }
    },
  },
  components: {
    UploadAvatarCafe,
    UpdateInfo,
    UpdateLunch,
    UpdateBreakfast,
    UpdateDinner,
    // UpdateBuns
  }
}
</script>