<template>
<el-form ref="form" label-width="130px">
  <div v-if="fullscreenLoading"
       v-loading.fullscreen.lock="fullscreenLoading"></div>
  <el-row  v-if="!fullscreenLoading">
    <el-col :span="12">
      <el-form-item label="Статус">
        <el-select v-model="status"
                   :disabled="isDesabledStatus"
                   placeholder="Выберете статус">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="Логотип">
        <UploadAvatarCafe @imageUrl='onImageUrl' />
      </el-form-item>

      <el-form-item label="Название">
        <el-input v-model="name" placeholder="Введите название"></el-input>
      </el-form-item>

      <el-form-item label="Кухни">
        <el-select v-model="formkitchens" multiple placeholder="Выберете ухни">
          <el-option
            v-for="item in kitchens"
            :key="item.id"
            :label="item.name"
            :value="item.name">
          </el-option>
        </el-select>
      </el-form-item>

      <div v-if="firstApply !== null">
        <el-form-item label="Инф. гл. админа">
          <div>{{firstApply}}</div>
        </el-form-item>
        <el-form-item>
          <el-button type="success" style="width:240px" @click="acceptAdministrator">Принять администратора</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="danger" style="width:240px" @click="rejectAdministrator">Отклонить администратора</el-button>
        </el-form-item>
      </div>
    </el-col>
    <el-col :span="12">
      <el-form-item label="Адрес">
        <el-input v-model="address" placeholder="Введите адрес"></el-input>
      </el-form-item>
      <el-form-item label="Координаты">
        <div style="display: flex">
          <el-input v-model="geoLatitude" style="padding-right: 10px" placeholder="Введите широтy"></el-input>
          <el-input v-model="geoLongitude" placeholder="Введите долготy"></el-input>
        </div>
      </el-form-item>
      <el-form-item label="Телефон">
        <el-input v-model="phone"  
                  placeholder="Введите номер телефона"></el-input>
      </el-form-item>
      <el-form-item label="Веб-сайт">
        <el-input v-model="site" placeholder="Введите веб-сайт"></el-input>
      </el-form-item>
    </el-col>
  </el-row>
</el-form>
</template>

<script>
import UploadAvatarCafe from '../upload/UploadAvatarCafe.vue'
import db from '../../firebase-config'
export default {
  components: { UploadAvatarCafe },
  name: 'UpdateInfo',
  data() {
    return {
      id: null,
      status: null,
      logo: null,
      name: null,
      formkitchens: null,
      firstApply: null,
      address: null,
      geoLatitude: null,
      geoLongitude: null,
      phone: null,
      site: null,

      options: [{
        value: 'onmap',
        label: 'на карте'
      }, {
        value: 'null',
        label: 'выкл'
      }],

      fullscreenLoading: true,
      isRejectAdministrator: false,
      isDesabledStatus: false
    }
  },
  watch: {
    id(value) {
      this.$emit('id', value);
    },
    status(value) {
      this.$emit('status', value);
    },
    logo(value) {
      this.$emit('logo', value);
    },
    name(value) {
      if (!value) {
        this.$emit('name', null);
      } else {
        this.$emit('name', value);
      }
    },
    formkitchens(value) {
      if (value.length === 0) {
        this.$emit('kitchens', null);
      } else {
        this.$emit('kitchens', value);
      }
    },
    firstApply(value) {
      this.$emit('firstApply', value);
    },
    address(value) {
      if (!value) {
        this.$emit('address', null);
      } else {
        this.$emit('address', value);
      }
    },
    geoLatitude(value) {
      if (!value) {
        this.$emit('geoLatitude', null);
      } else {
        this.$emit('geoLatitude', value);
      }
    },
    geoLongitude(value) {
      if (!value) {
        this.$emit('geoLongitude', null);
      } else {
        this.$emit('geoLongitude', value);
      }
    },
    phone(value) {
      if (!value) {
        this.$emit('phone', null);
      } else {
        this.$emit('phone', value);
      }
    },
    site(value) {
      if (!value) {
        this.$emit('site', null);
      } else {
        this.$emit('site', value);
      }
    },
  },
  computed: {
    kitchens() {
      return this.$store.state.kitchens.kitchens;
    }
  },
  beforeCreate() {
    this.$store.dispatch('kitchens/retrieveKitchens')
  },
  created() {
    this.getDataCafe()
  },
  methods: {
    getDataCafe() {
    db.collection('cafes').doc(this.$route.params.id).get()
      .then(snapshot => {
        if (!snapshot.exists) return;
        let cafe = snapshot.data()
        console.log(cafe);
        this.$store.dispatch('upload/createUrlImageAvatar', cafe.logo)
        this.id = cafe.id
        this.status = cafe.status
        this.name = cafe.name
        this.formkitchens = cafe.kitchens
        this.firstApply = cafe.firstApply
        this.address = cafe.address
        this.geoLatitude = cafe.geo.latitude
        this.geoLongitude = cafe.geo.longitude
        this.phone = cafe.phone
        this.site = cafe.site
        console.log("GET ONE CAFE", cafe);
        if (this.firstApply) {
          // 333
          const a = this.firstApply
          console.log(a);
          // 333: END
          // getInfoAdmin(this.firstApply )
        } else {
          this.fullscreenLoading = false
        }
      })
      .catch((error) => {
        console.log("GET ONE CAFE ERROR", error);
      })
    },
    getInfoAdmin(admin) {
      console.log(admin);
      db.collection('users').doc(admin).get()
        .then(snapshot => {
          if (!snapshot.exists) return;
          let admin = snapshot.data()
          console.log(admin);
        })
    },
    onImageUrl(data) {
      this.logo = data
    },
    acceptAdministrator() {

    },
    rejectAdministrator() {
      this.fullscreenLoading = true
      const cafe = {
        id: this.id,
        status: 'onmap',
        logo: this.$store.state.upload.urlImageAvatar,
        name: this.name,
        kitchens: this.kitchens,
        firstApply: null,
        address: this.address,
        geo: this.geo,
        phone: this.phone,
        site: this.site,

        breaks: this.breaks,
        lunches: this.lunches,
        dinners: this.dinners,
      }
      this.$store.dispatch('cafes/saveUpdateCafe', cafe)
        .then(() => {
          console.log('reject administrator done');
          this.getDataCafe()
        })
    }
  }
}
</script>
